<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
</head>
<body>
<div>
    <input type="hidden" id="article-id" th:value="${article.id}">
    <p th:text="${article.title}"></p>
    <p th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></p>
    <p th:text="${article.content}"></p>
    <button id="modify-btn" type="button" th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|">수정</button>
    <button id="delete-btn" type="button">삭제</button>
</div>
<script src="/js/article.js"></script>
</body>
</html>